<div id="body-block">
  <div class="body">
    <h4>Categories</h4>
    <a href="#"><li>Clothing</li></a>
    <a href="#"><li>Accessories</li></a>
    <a href="#"><li>Household</li></a>
    <a href="#"><li>Sports</li></a>
    <a href="#"><li>Electronics</li></a>
    <a href="#"><li>Health</li></a>
    <a href="#"><li>Used</li></a>
    <a href="#"><li>Travel</li></a>
    <a href="#"><li>Smartphones& Pcs</li></a>
    <a href="#"><li>see all</li></a>
  </div>
  <!--This is for the last right double row section  -->
  <div class="body body2">

  </div>
  <div class="body ">
    <div class="body-right">
      <a href="#"><img src="images/coupon.jpg" width="50%"></a>
    </div>
    <div class="body-right">
      <a href="#"><img src="#" alt="coming soon">Random Sellers</a>
    </div>
  </div>
</div>
