<div id="body-block">
  <div id="categories">
      <h4>वर्ग</h4>
      <a href="#"><li>कपडा</li></a>
      <a href="#"><li>अतिरिक्त सामान</li></a>
      <a href="#"><li>घरयासी</li></a>
      <a href="#"><li>खेलकुद</li></a>
      <a href="#"><li>इलेक्ट्राेनिक</li></a>
      <a href="#"><li>स्वाश्थ्य</li></a>
      <a href="#"><li>प्रयाेग भएकाे</li></a>
      <a href="#"><li>यात्रा</li></a>
      <a href="#"><li>माेबाइल र कमप्युटर</li></a>
  </div>

  <!--This is for the last right double row section  -->
  <div id="image">
    <div id="main-image">
      <a href="#"><img class="slider" src=""></a>
    </div>
    <div id="coupon-image">
      <a href="#"><img src="images/coupon.jpg" ></a>
    </div>
  </div>
</div>
