<div id="info">
  <a href="/contactsnepV"><li>सम्पर्क</li></a>
  <a href="#"><li>वितरण</li></a>
  <a href="/sellers"><li>हाम्रा विक्रेताहरू</li></a>
  <a href="#"><li>सुरक्षित भुक्तानी</li></a>
  <a href="#"><li>सहायता</li></a>
</div>
