<div id="info">
  <a href="/contacts"><li>Contacts Us</li></a>
  <a href="#"><li>Delivery & Logistics</li></a>
  <a href="/sellers"><li>Our Sellers</li></a>
  <a href="#"><li>Safe Payments</li></a>
  <a href="#"><li>Help & Support</li></a>
</div>
