<div id="info">
  <a href="/contacts">Contacts Us</a>
  <a href="#">Delivery & Logistics</a>
  <a href="/sellers">Our Sellers</a>
  <a href="#">Safe Payments</a>
  <a href="#">Help & Support</a>
</div>
