<div class="navigation">
    <li><form action="/search/:query">
      <input type="search" placeholder="search..">
      <input type="submit" name="" value="search">
    </form></li>
  <li><a href="/cart">My cart</a></li>
  <li><a href="/login">Login</a></li>
  <li><a href="/sellerSignup">Sign Up</a></li>
</div>
