<div class="navigation">
  <div>
    <form action="">
      <input type="search" placeholder="search..">
      <button type="submit" >Go</button>
    </form>
  </div>
  <li><a href="/cart">My cart</a></li>
  <li><a href="/login">Login</a></li>
  <li><a href="sellerSignup">Sign Up</a></li>
</div>
