<div id="sales-offer">
    <h4>बिक्री तथा छुट </h4>
    <div class="sales">
     <a href="#"><img src="images/offer.jpg" alt="image1"></a>
     <a href="#"><img src="images/offer2.jpg" alt="image2"></a>
     <a href="#"><img src="images/offer3.jpg" alt="image3"></a>
     <a href="#"><img src="images/offer4.jpg" alt="image4"></a>
    </div>

</div>
