<div id="sellers">
  <h4>हाम्रा आधिकारीक बिक्रेता</h4>
   <div class="sellers">
     <a href="#"><img src="images/product.jpg" alt="image1"></a>
     <a href="#"><img src="images/product2.jpg" alt="image2"></a>
     <a href="#"><img src="images/product3.jpg" alt="image3"></a>
     <a href="#"><img src="images/product4.jpg" alt="image4"></a>
     <a href="#"><img src="images/product5.jpg" alt="image1"></a>
     <a href="#"><img src="images/product6.jpg" alt="image2"></a>
     <a href="#"><img src="images/product7.jpg" alt="image3"></a>
     <a href="#"><img src="images/product8.jpg" alt="image4"></a>
   </div>
</div>
