<!DOCTYPE html>
<html>

<head>
  <title>हामीलाइ सम्पर्क गर्नुहाेस</title>
  <meta charset="utf-8">
</head>

<body>
  <div class="container">
    <div class="contact">
      <h3>सम्पर्क </h3>
      <li>ठेगाना: नेपाल बुटवल १०</li>
      <li>टाेल : सुख्खानगर </li>
      <li>माेबाइल: ९८०१८९३०४९८</li>
    </div>
    <div class="map">
      <map>
          प्रयासमा छु
          </map>
    </div>
    <div class="aboutus">
      नमस्कार, म यस कम्पनीकाे अध्यक्ष हुँ. हाम्राे कम्पनीकाे कर्मचारी यस प्रकार छन् ।
      <li>सुरज साेमाइ(अध्यक्ष तथा संस्थापक)</li>
      <li>सह-संस्थापक(पुरूष)</li>
      <li>सह-संस्थापक(महिला)</li>
      <li>कर्मचारी(पुरुष)</li>
   </div>
    <div class="members">
      <div class="ceo">
        <h4>सुरज साेमार्इ(अध्यक्ष तथा संस्थापक)</h4>
        <p>
          म ठाऊँ सानाे तर मन ठुलाे भएकाे जिल्ला बुटवलबाट हुँ । हाल म दक्षिण काेरीयाबाट फर्केकाे हाे । त्यही बसाइमा मैले अनलाइन किनमेलकाे बारेमा थाहा पाए र साे अनुरूप कम्पनी खाेल्न मनलाग्याे ।  मलार्इ पनि ऊता जस्तै सेवा र सुविधा दिन मनलाग्याे. त्यसैले हाल याे वेबसाइट नेपालकाे
          लागि मात्र हुनेछ।
        </p>
        <div class="co-founder">
          <h4>खाेजी (सह-संस्थापक)</h4>
          <img src="#" alt="co-founder">
          <p>
            खाेजी हुदै छ। जीन्दगीमा केही गरू र केही बनु सपना बाेकेकाे उहाहरूलाइ स्वागत छ। उहाँकाे कार्य वितरण र ग्राहक सम्बन्धी हुनेछ।
          </p>
        </div>
        <div class="co-founder">
          <h4>खाेजी(सह-संस्थापक महिला)</h4>
          <img src="#" alt="co-founder" />
          <p>
            उहाकाे कार्य बजार र डिजाइन सम्बन्धी हुनेछ।
          </p>
        </div>
        <div class="staff">
          <h4>पुरूष वा महिला(वितरण तथा सरसफार्इ)</h4>
          <img src="#" alt="staff">
          <p>
            उहाँ भनेकाे सबै भन्दा महत्त्वपुर्ण ब्यक्ति हाे जसले सरसामान ग्राहक समक्ष र कार्यालयकाे सरसफार्इ हेर्ने काम गर्नुहुन्छ।
          </p>
        </div>
        <label>प्रतिक्रिया</label>
        {{> footer_nepV}}
      </div>

    </div>
  </div>
</body>

</html>
