<!DOCTYPE html>
<html>

<head>
  <title>contacts us</title>
  <meta charset="utf-8">
</head>

<body>
  <div class="container">
    <div class="contact">
      <h3>Contact Us </h3>
      <li>Address: South Korea, Gyenongnamdong, Gimhae-si, Jinyeong-eup</li>
      <li>Street-address:Jwagori-124</li>
      <li>Phone no: 01034464514</li>
    </div>
    <div class="map">
      <map>
          need map data. In learning process
          </map>
    </div>
    <div class="aboutus">
      Hello, I am the ceo of this company. I like to thank you all from your presence and I hope you will help us to grow even bigger. Let's introduce you all to my co-founders and staffs. We are still growing We have 4 members including me.
      <li>Suraj somai(CEO)</li>
      <li>co-founder(male)</li>
      <li>co-founder(female)</li>
      <li>staff(male)</li>
   </div>
    <div class="members">
      <div class="ceo">
        <h4>Suraj Somai(CEO)</h4>
        <p>
          You know my name so i will get to the point. I am from small town
          Butwal.Currently working as worker in Korea.I built this company to
          help nepalese people to enjoy the ultimate online shopping experiences
          in Nepal. This website will be dedicated to Nepal only for now . As we
          grow we want extend globally.
        </p>
        <div class="co-founder">
          <h4>Unknown(co-founder)</h4>
          <img src="#" alt="co-founder">
          <p>
            Searching for the male person who thinks like me and be together with 
            me in all circumstances. And he should be fluent in logistics and
            accounting section.
          </p>
        </div>
        <div class="co-founder">
          <h4>Unknown(co-founder)</h4>
          <img src="#" alt="co-founder" />
          <p>
            She will be our marketing and designer department officer. Her worker
            will be designing the layout of our company websites and help our
            company to market in market.
          </p>
        </div>
        <div class="staff">
          <h4>Unknown(delivery boy)</h4>
          <img src="#" alt="staff">
          <p>
            He is the most important person in the company. Yes you read correct
            He will help us deliver our service to our customers. No work is small
            or big.Everybody is important at their place.
          </p>
        </div>
        <label>FeedBacks</label>
        <footer>Copyright@ mpasal.com 2018-2019. All rights reserved.</footer>
      </div>

    </div>
  </div>
</body>

</html>
