<!DOCTYPE html>
<html>

<head>
  <title>हामीलाइ सम्पर्क गर्नुहाेस</title>
  <meta charset="utf-8">
</head>

<body>
  <div class="container">
    <div class="contact">
      <h3>सम्पर्क </h3>
      <li>ठेगाना: नेपाल बुटवल १०</li>
      <li>टाेल : सुख्खानगर </li>
      <li>माेबाइल: ९८०१८९३०४९८</li>
    </div>
    <div class="map">
      <map>
          प्रयासमा छु
          </map>
    </div>
    <div class="aboutus">
      नमस्कार, म यस कम्पनीकाे अध्यक्ष हुँ. हाम्राे कम्पनीकाे कर्मचारी यस प्रकार छन् ।
      <li>Suraj somai(CEO)</li>
      <li>co-founder(male)</li>
      <li>co-founder(female)</li>
      <li>staff(male)</li>
   </div>
    <div class="members">
      <div class="ceo">
        <h4>Suraj Somai(CEO)</h4>
        <p>
          You know my name so i will get to the point. I am from small town
          Butwal.Currently working as worker in Korea.I built this company to
          help nepalese people to enjoy the ultimate online shopping experiences
          in Nepal. This website will be dedicated to Nepal only for now . As we
          grow we want extend globally.
        </p>
        <div class="co-founder">
          <h4>Unknown(co-founder)</h4>
          <img src="#" alt="co-founder">
          <p>
            Searching for the male person who thinks like me and be together with
            me in all circumstances. And he should be fluent in logistics and
            accounting section.
          </p>
        </div>
        <div class="co-founder">
          <h4>Unknown(co-founder)</h4>
          <img src="#" alt="co-founder" />
          <p>
            She will be our marketing and designer department officer. Her worker
            will be designing the layout of our company websites and help our
            company to market in market.
          </p>
        </div>
        <div class="staff">
          <h4>Unknown(delivery boy)</h4>
          <img src="#" alt="staff">
          <p>
            He is the most important person in the company. Yes you read correct
            He will help us deliver our service to our customers. No work is small
            or big.Everybody is important at their place.
          </p>
        </div>
        <label>FeedBacks</label>
        <footer>Copyright@ mpasal.com 2018-2019. All rights reserved.</footer>
      </div>

    </div>
  </div>
</body>

</html>
