<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width ,initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet " type="text/css" href="styles/Dream project(mpasal)v1.0.css" />
  <title>Mpasal</title>
  <link rel="shortcut icon" href="images/mpasal.png" type="image/png">
</head>
<body>
  <!--There are 5 section in this page  -->
 <div id="container">
   <!-- This is navbar section -->
      <div class="banner">
        <a href="#"><img src="images/banner.jpg" alt="static ad banner of mpasal.com"></a>
      </div>
  {{> navigation}}
   <!--This is main body section  -->
  {{> body_block}}
   <!--This section for sales and offer section  -->
   {{> sales_offer}}
   <!--This section is for sellers  -->
   {{> sellers}}
   <!--This section is for the information section  -->
   {{> info}}
     <footer>Copyright@mpasal.com 2018-2019 All rights reserved.</footer>
 </div>


</body>
</html>
