<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width ,initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet " type="text/css" href="styles/Dream project(mpasal)v1.0.css" />
  <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous"> -->

  <title>M पसल </title>
  <link rel="shortcut icon" href="images/mpasal.png" type="image/png">
</head>
<body>

  <!--There are 5 section in this page  -->
 <div id="container">

   <!-- This is navbar section -->
   <div id="fixed-navigation">
     <h5><a href="/">change to English language</a></h3>
      <div class="banner">
        <a href="#"><img src="images/banner.jpg" alt="static ad banner of mpasal.com"></a>
      </div>
  {{> navigation_nepV}}
  </div>
   <!--This is main body section  -->
  {{> body_block_nepV}}
   <!--This section for sales and offer section  -->
   {{> sales_offer_nepV}}
   <!--This section is for sellers  -->
   {{> sellers_nepV}}
   <!-- this is for info section. -->
   {{> info_nepV}}
   <!-- this is for footer section -->
   {{> footer_nepV}}
 </div>

<script type="text/javascript" src="js/dream.js"></script>
</body>
</html>
