<!DOCTYPE html>
<html>
<body>
  <head>
    <link type="text/css" rel="stylesheet" href="login.css">
  </head>
  <div id="cointainer">
    <h1>
      Mpasal
      Making G Nepal
    </h1>
    <div class="buyer">
      
      <form action="/login" method="post" id="login">
        email:<input type="email" name="email" required /><br>
        password:<input type="password" name="password" required/><br>
        <button type="submit">login</button>
      </form>
    </div>
    <div class="forgot">
      <div class="left">
        <a href="#">forgot password</a>
      </div>
      <div class="right">
        <a href="#">forgot email</a>
      </div>
    </div>
    <div class="home"> <a href="/">Home</a></div>
    <div class="signup"><a href="/singleSignup">No ID!! SignUp from here</a></div>
    <div class="helper">
          <a href="#">help</a>
          <a href="#">contact us</a>
          <a href="#">terms & conditions</a>
      </div>
    </div>
  </div>
  {{> footer }}
</body>

</html>
