<!DOCTYPE html>
<html>
<body>
<head>
<link type="text/css" rel="stylesheet" href="login.css">
</head>
<div id="cointainer">
<h1>
Mpasal
Making G Nepal
</h1>
<div class="buyer">
  <li>
    email:<input type="email" /></br>
  </li>
  <li>
    password:<input type="password" /></br>
  </li>
  <li>
    <input type="submit" value="sumbit" />
  </li>
</div>
<div class="forgot">
  <div class="left">
    <a href="#">forgot password</a>
  </div>
  <div class="right">
    <a href="#">forgot email</a>
  </div>
</div>
<div class="home">
  <div class="left">
<a href="file:///E:/mpasal/Dream%20project(mpasal).html" target="_blank">Home</a>
  </div>
  <div class="right">
    <li>
      <a href="#">help</a>
    </li>
    <li>
      <a href="#">contact us</a>
    </li>
    <li>
      <a href="#">terms & conditions</a>
    </li>
  </div>
</div>
</div>
<footer>
Copyright @vdokos 2018 . All rights reserved. All trademarks and patents are reserved.
</footer>
</body>
</html>
