<!DOCTYPE html>
<html>
<body>
  <head>
    <link type="text/css" rel="stylesheet" href="login.css">
  </head>
  <div id="cointainer">
    <h1>
      Mpasal
      Making G Nepal
    </h1>
    <div class="buyer">
      <h3 style="color: red">{{ text }}</h3>
      <h4><a href="/singleSignup">Create New</a></h4><br>
      <form action="/login" method="post">
        email:<input type="email" name="email" /><br>
        password:<input type="password" name="password" /><br>
        <button type="submit">login</button>
      </form>
    </div>
    <div class="forgot">
      <div class="left">
        <a href="#">forgot password</a>
      </div>
      <div class="right">
        <a href="#">forgot email</a>
      </div>
    </divb
    <div class="home">
      <div class="left">
        <a href="/">Home</a>
      </div>
      <div class="right">
        <li>
          <a href="#">help</a>
        </li>
        <li>
          <a href="#">contact us</a>
        </li>
        <li>
          <a href="#">terms & conditions</a>
        </li>
      </div>
    </div>
  </div>
  {{> footer }}
</body>

</html>
