<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
  <div id="container">
    <h1>Logged Out.{for testing only. It doesnot logout}</h1>
    <a href="/">Mpasal</a>
    <div>
      Successfully logged out.
    </div>
  </div>
  <br>
  <br>
  <h4><a href="/login">login again</a></h4>
  {{> info}}
 {{> footer}}
</body>
</html>
