<!DOCTYPE html>
<html>
<meta charset="UTF-8">
<title>
Mobile Pasal
</title>
    <head>
    <link rel=stylesheet type="text/css" href="style.css" ></head>
    <meta name="viewport" content="width=device-width", initial-scale="1.0">
<body>
       <navbar class="navbar">
         <div>mpasal</div>
         <label>
           <input input type="text" placeholder="search..">
           <button>search</button>
         </label>
         <div><a href='#'>go</a></div>
         <div><a href='#'>cart</a></div>
         <div><a href='#'>Login<a/></div>
         <div><a href='#'>Sign-up</a></div>
<!--         <ul>
            <li><a href="" >mpasal</a></li>
            <li><input type="text" placeholder="search.."></li>
            <li><a href="#">go<a></li>
            <li><a href="">cart</a></li>
            <li><a href="">Login</a></li>
            <li><a href="">Sign-up</a></li>
          </ul>-->
        </navbar>
        <div class="bodynav">
          <div class='left'>
            <h4>Categories</h4>
              <li><a href="#">Electronics</a></li>
              <li><a href="">clothing</a></li>
              <li><a href="">Accessories</a></li>
              <li><a href="">Household</a></li>
              <li><a href="">Sports</a></li>
              <li><a href="">Health</a></li>
              <li><a href="">Used</a></li>
              <li><a href="">Travel</a></li>
              <li><a href="">Smartphones</a></li>
              <li><a href="">Pc & Notebooks</a></li>
          </div>
          <div class='center'>Ads</div>
          <div class='right'>
            <div class='tr'>coupons</div>
            <div class='br'>random</div>
          </div>
        <!--
        <ul>
         <li>Categories
         <ul>
             <li><a href="#">Electronics</a></li>
             <li><a href="">clothing</a></li>
             <li><a href="">Accessories</a></li>
             <li><a href="">Household</a></li>
             <li><a href="">Sports</a></li>
             <li><a href="">Health</a></li>
             <li><a href="">Used</a></li>
             <li><a href="">Travel</a></li>
             <li><a href="">Smartphones</a></li>
             <li><a href="">Pc & Notebooks</a></li>

           </ul>
            </li>
            <li><a href=""><img src="images/slidehead2.jpg" alt="ads reference"></a>
            </li>
            <li><a href="">Coupons</a></li>
        </ul>-->
        </div>
        <div class="offer">
          <h2>Sales and Offers</h2>
          <div class='offer-pics'>
            <img/>
            <img/>
            <img/>
            <img/>
          </div>
        </div>
<!--            <h3>Sales and Offers</h3>
            <ul>
                <li><a href=""><img src="images/offer.jpg" alt=
            "product"></a></li>
                <li><a href=""><img src="images/offer2.jpg" alt=
            "product"></a></li>
                <li><a href=""><img src="images/offer3.jpg" alt=
            "product"></a></li>
                <li><a href=""><img src="images/offer4.jpg" alt=
            "product"></a></li>
            </ul>
          </div>-->
        <div class="seller">
          <h3>Our Official Seller</h3>
          <div class='seller-pics'>
            <a href=""><img src="#" alt="seller store"></a>
            <a href=""><img src="#" alt="seller store"></a>
            <a href=""><img src="#" alt="seller store"></a>
          </div>
          <br/>
          <div class='seller-pics'>
            <a href=""><img src="#" alt="seller store"></a>
            <a href=""><img src="#" alt="seller store"></a>
            <a href=""><img src="#" alt="seller store"></a>
          </div>

        </div>
        <div class="contacts">

                <a href="">contact us</a>
                <a href="">delivery</a>
                <a href="">Our sellers</a>
                <a href="">Help</a>
                <a href="">Safe Payment</a>

        </div>
        <div class='privacy'>
                <a href="">Privacy Policy</a>
                <a href="">Terms and Conditions</a>
                <a href="">Buyers Guarantee</a>
            </div>
            <footer>
            <p>Copyright@mpasal.com 2018-2019</p>
            </footer>



</body>
</html>
