<!DOCTYPE html>
<html>
<head>
  <title>My Cart</title>
  <meta charset="utf-8">
</head>
<body>
  <div class="container">
    <div class="navbar">
      <div class="adsimg">
        <a href="#"> <img src="#" alt="mpasal logo"></a>
      </div>
      <div class="search">
        <input type="text" placeholder="search..">
        <button> go</button>
      </div>
      <div><a href="file:///E:/mpasal/login.html">login</a></div>
      <div><a href="file:///E:/mpasal/signup.html">sign up</a></div>
    </div>
    <div class="cart">
      <p>need tables with product and price</p>
    </div>
    <div class="info">
      <li>
      <a href="#">Privacy Policy</a>
      </li>
      <li>
        <a href="#">Terms & Conditions</a>
      </li>
      <li>
        <a href="#">Return Policy</a>
      </li>
    </div>
    <div class="Help">
      <li>
        <a href="#">Need Help</a>
      </li>
      <li>
        or
      </li>
      <li>
        <a href="file:///E:/mpasal/contacts%20us%20&%20About.html">Contact- us</a>
      </li>
    </div>
  </div>

</body>
</html>
