<!DOCTYPE html>
<html>
<head>
  <title>मेराे ठेला</title>
  <meta charset="utf-8">
</head>
<body>
  <div class="container">
    <div class="navbar">
      <div class="adsimg">
        <a href="#"> <img src="#" alt="mpasal logo"></a>
      </div>
      <div class="search">
        <input type="text" placeholder="खाेजी..">
        <button>खाेजी</button>
      </div>
      <div><a href="file:///E:/mpasal/login.html">लग-र्इन</a></div>
      <div><a href="file:///E:/mpasal/signup.html">दर्ता गर्नुहाेस</a></div>
    </div>
    <div class="cart">
      <p>उत्पादन र त्यसकाे मूल्य</p>
    </div>
    <div class="info">
      <li>
      <a href="#">गाेपनीयता नीति</a>
      </li>
      <li>
        <a href="#">नियम र सर्तहरू</a>
      </li>
      <li>
        <a href="#">फिर्ता नीति</a>
      </li>
    </div>
    <div class="Help">
      <li>
        <a href="#">सहायता चाहियाे?</a>
      </li>
      <li>
        वा
      </li>
      <li>
        <a href="file:///E:/mpasal/contacts%20us%20&%20About.html">सम्पर्क गर्नुहाेस</a>
      </li>
    </div>
  </div>

</body>
{{< footer_nepV}}
</html>
