<!DOCTYPE html>
<html>
<head>
  <title>our Sellers</title>
  <meta charset="utf-8" />
  <link rel="stylesheet" type="text/css" href="oursellers.css" />
</head>
<body>
<div class="container">
  <h2>Our sellers</h2>
  <div class="description">
    <p>
      Welcome to our seller description page. Hope you will find
      your solution to your problem. Lets begin with this page.The motive
      of this page is to help the dispersed sellers in one umbrella under <a href="file:///E:/mpasal/Dream%20project(mpasal).html" target="_blank">Mpasal</a>

  </div>
  <div class="features">
    <h3>Features</h3>
    <li>
      No need to search for popular destination
    </li>
    <li>
      customers at your hand
    </li>
    <li>
      low cost & high profit
    </li>
    <li>
      update to latest technologies
    </li>
    <li>
      large scale business from home
    </li>
  </div>

</div>
</body>
</html>
