<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>

<body>
  Thankyou . Your email is registered successfully. Verification of email will be
  integrated shortly. Keep using our services.
  If you didnot signup then somebug may be printing this page.
  <div class="login">
    <a href="/login">Login Now!!</a>
  </div>
</body>

</html>
