<!DOCTYPE html>
<html>
<body>
<head>
<link type="text/css" rel="stylesheet" href="login.css">
</head>
<div id="cointainer">
<h1>
Mpasal
जी नेपाल बना
</h1>
<div>
<ul id="buyer">
<li><a href="/singleSignup" >खरीददारकाे रूपमा दर्ता गर्नुहाेस</a></li>
<li><a href="">बिक्रेताकाे रूपमा दर्ता गर्नुहाेस</a></li>
</ul>
</div>
<div id="home">
<a href="/nepali" target="_blank">घर</a>
</div
</div>
{{> footer_nepV}}
</body>
</html>
