<!DOCTYPE html>
<html>
<head>
  <title>sign up Buyers</title>
  <meta charset="utf-8">
</head>
<body>
<div class="container">
  <h3>Already a member? <a href="#">Sign in!</a></h3>
<div class="forms">
  <form>
<li>
  E-mail address:
  <input type="email" placeholder="email" />
</li>
<li>
  Name: <input type="text" placeholder="first name" />
 <input type="text" placeholder="middle name" />
  <input type="text" placeholder="last name" />
</li>
<li>
  password:<input type="password" />
</li>
<li>
  confirm password: <input type="password" />
</li>
<li>
  <input type="radio" name="gender"/>male
  <input type="radio" name="gender" />female
</li>
<li>
  date of birth(year only):<input type="number" />
</li>
<li>
  enter CAPTCHA</br>
  <input type="text" />
</li>
<li>
  <img src="#" alt="CAPTCHA" /><a href="#">refersh code</a>
</li>
<input type="checkbox" />I agree with all the <a href="#">terms and conditions </a></br>
<input type="submit" value="sumbit"/>
  </form>
</div>
<div class="home"v>
  <div class="left">
    <a href="#">mpasal</a>
  </div>
  <div class="right">
    <li>
      <a href="#">help</a>
    </li>
    <li>
      <a href="#">contact us</a>
    </li>
    <li>
      <a href="#">terms & conditions</a>
    </li>
  </div>
</div>
<footer>
  copyright@mpasal.com 2018-2019. All right reserved.
</footer>
</div>
</body>
</html>
