<!DOCTYPE html>
<html>

<head>
  <title>sign up Buyers</title>
  <meta charset="utf-8">
</head>

<body>
  <div class="container">
    <h3>Already a member? <a href="#">Sign in!</a></h3>
    <div class="forms">
      <form action="/singleSignup" method="POST">
        <!-- needs same url as get so it could send that url data -->
          E-mail address:<input type="email"  name="email" required/><br>
          Name: <input type="text"  name="name" required /><br>
          Middle Name: <input type="text" name=""/><br>
          Last Name:  <input type="text" /><br>
          password:<input type="password" name="password" required/><br>
          confirm password: <input type="password" name="confirmPassword"/><br>
         <input type="radio" name="gender" value="male"/>male<br>   <!--here we define value because val is constant -->
          <input type="radio" name="gender" value="female"/>female<br>
          date of birth(year only):<input type="number" value="1990" name="birthDate" required /><br>
        <input type="checkbox"  required/>I agree with all the <a href="#">terms and conditions </a><br>
        <input type="submit" value="submit" />
      </form>
    </div>
    <div class="home" v>
      <div class="left">
        <a href="#">mpasal</a>
      </div>
      <div class="right">
        <li>
          <a href="#">help</a>
        </li>
        <li>
          <a href="#">contact us</a>
        </li>
        <li>
          <a href="#">terms & conditions</a>
        </li>
      </div>
    </div>
    <footer>
      copyright@mpasal.com 2018-2019. All right reserved.
    </footer>
  </div>
</body>

</html>
