<!DOCTYPE html>
<html>
<body>
<head>
<link type="text/css" rel="stylesheet" href="login.css">
</head>
<div id="cointainer">
<h1>
Mpasal
Making G Nepal
</h1>
<div>
<ul id="buyer">
<li><a href="/singleSignup" >SignUp as buyer</a></li>
<li><a href="">SignUp as seller</a></li>
</ul>
</div>
<div id="home">
<a href="/" target="_blank">Home</a>
</div
</div>
<footer>
Copyright @mpasal 2019-2020 . All rights reserved. All trademarks and patents are reserved.
</footer>
</body>
</html>
