/*  this section is for navbar */
h5 {
  background-color: skyblue;
  margin-top: 0px;
  margin-bottom: 0px;
}
.banner img {
  width: 100%;
}
/* for navbar */
.navigation{
  background-color: orange;
  margin-top: -5px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  opacity: 1;
}

.navigation > li {
  width: 20%;
  /* background-color: yellow; */
  border-right: solid green;

}

.navigation li, a{
  list-style: none;
  text-decoration:none;
  color: black;
}
#fixed-navigation {
  width: 100%;
  position: fixed;
  top:0;
  left:0;
}
/*  this section is for main body */
#body-block {
/*   background-color: orange; */
  width:100%;
  margin-top: 145px;
  display:flex;
}
#categories {
/*     background-color: grey; */
    position:fixed;
    top:25%;
    left:0;
    width:19.7%;
}
#categories li {
 padding: 8px;
 border:1px solid black;
}
#image {
/*   background-color: green; */
  display:flex;
  width: 80%;
  margin-top: -5px;
  margin-left:20%;
}
#main-image {
/*   background-color: yellow; */
  display:block;
  width:80%;
  wrap:nowrap;
}
#main-image img {
  width:100%;
}
#coupon-image {
/*   background-color: pink; */
  padding:5px;
  width: 45%;
  margin-top:auto;
  margin-bottom: auto;
}
#coupon-image img{
  width: 100%;
}

/* This section is for the sales and offer section */
h4 {
  text-align: center;
}
.sales, .sellers {
/*   background-color: orange; */
  margin-left: 20%;
  width: 80%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.sales img{
  width: 150px;
  border: 2px solid black;
}
/* This section is for Official seller  */
/* .sellers {
  width: 100%;
  display:flex;
  justify-content: space-between;
  flex-wrap: wrap;
} */
.sellers img {
  width: 100px;
  border: 2px solid black;
}

#info{
    background-color: lightgrey;
    display:flex;
    justify-content: space-between;
}
/* this is last copyright line */
footer {
  margin-top: 5px;
  text-align: center;
}
@media screen and (max-width: 450px) {
body {
/*   background-color: black; */
}
#categories {
/*   background-color:brown; */
  display:flex;
  top:62px;
  height: 5px;
}
  #categories li {
    background-color:blue;
    padding: 5px;
    margin-top:7px;
    border:none;
  }
    #image {
/*   background-color: green; */
   display:block;
  margin-top:-12px;
  width: 100%;
  margin-left:-6px;
}
  #main-image {
/*     background-color:black; */
    width: 102%;
    padding:2px;

  }
  #coupon-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  }
#coupon-image img {
  width:250px;
  height:120px;
}

  .sales img , .sellers img{
    width:100px;
    display: block;
    padding: 3px;
  }
  .sales, .sellers {
    margin-left: auto;
    margin-right: auto;
  }




}
