*{
  color: black;
}
body{
  margin:0;
}

.container{
  width:98vw;
 margin:0 auto 0 ;
 padding-top:12.2vw;
}
.banner img{
  width:100%;
  height:7vw;
}
.navbar{
  background: lightgrey;
  height:4vw;
  padding-top:8px;
  display:flex;
  justify-content: space-between;

}
.navbar a {
  text-decoration: none;
}
.navbar .adsimg img{
  width:5vw;
  position: absolute;
  top: -4px;
}
.banner{
  position:fixed;
  top:0;
  left:5px;
  width:inherit;
}
.navbar{
  position:fixed;
  top:7.2vw;
  left:5px;
  width:inherit;
}
.bodynav{
  display:flex;
  justify-content: space-between;
}
.bodynav .categories a{
  text-decoration: none;
}
.bodynav .categories li{
  list-style: none;
  height:40px;
  line-height: 40px;

}
.bodynav .coupons img{
  width:100%;
}


.categories, .coupons{
  width:30%;
}
.categories h4{
  font-size: 30px;
  margin:0;
  padding-bottom: 3px;
}
.bodynav .bodynavimg img{
  margin-left: 70px;
  width:80%;
}
.bodynav .coupons{
  display:flex;
  flex-direction:column;
}
.bodynav .up{
 flex-grow: 1;
}
.bodynav .down{
  flex-grow: 1;
}
.sales h4{
  padding-top:4px;
  text-align: center;
}

.sales .salesimg{
  display:flex;
  justify-content: space-between;
}
.sales .salesimg img{
  width:70%;
}
.officialsellers h4{
  text-align:center;
  padding-top:4px;
}
.officialsellers .up ,.down{
  display:flex;
  justify-content: space-between;

}
.officialsellers img{
  width:70%;
}
.contacts{
  display: flex;
justify-content: space-between;
}
.contacts a{
  text-decoration: none;
  background:lightgrey;
  border-radius: 4px;
}
.rules{
  display: flex;
  justify-content: flex-end;
}
.rules a{
  font-size: 10px;
  color:#ff6666;
}
footer{
text-align:center;
font-style:italic;
margin-top: 8px;
}
